#currently {
  /* background: rgba(0, 0, 0, 0.85); */
  color: black;
}
/* section {
    display: block;
    padding: 30px 0;
}

.header {
  padding-bottom: 0;
  margin-bottom: 0;
  color: black;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.me-titles {
  font-weight: bold;
  margin: 30px 0 20px 0;
}

@media (min-width: 768px) {
.container-fluid {
    max-width: 80%;
}
}

@media (min-width: 768px) {
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
} */