/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */

html {
  max-width: 100%;
}
   
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Lacquer', sans-serif;
  overflow-x: hidden;
  background: #c1eee4;
  letter-spacing: 2px;
}

#project-techs {
text-align:center;
}

a { color: inherit; } 


/* Top Nav */

.topnav-container {
  height: 50px;
  width: 702px;
  margin: 10px auto;
}

.topnav {
  background-color: #c1eee4;;
  text-align:center;
  position:fixed;
  z-index:9999;
  width: 66vw;
  margin: 0px auto;
  float:clear;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


.topnav a:hover {
  color: grey;
}

.topnav a > img {
  width: 25px;
  height: 25px;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.intro-title {
  text-align: center;
  font-size: 50px;
  display: block;
  margin: 200px auto;

}

/* Diagonal Line */

.diagonal-white-right {
    width: 101%;
    border-bottom: 80px solid white;
    -webkit-transform:
        translateY(-50px)
        translateX(0px)
        rotate(1.2deg);
    position: absolute;
    overflow-x: hidden;
}

.diagonal-white-left {
    width: 101%;
    border-bottom: 80px solid white;
    -webkit-transform:
        translateY(-50px)
        translateX(0px)
        rotate(-1.2deg);
    position: absolute;
    overflow-x: hidden;
}

.diagonal-black-right {
    width: 101%;
    border-bottom: 80px solid #c1eee4;;
    -webkit-transform:
        translateY(-50px)
        translateX(0px)
        rotate(-1.2deg);
    position: absolute;
    overflow-x: hidden;
    right: -1px;
}

.diagonal-black-left {
    width: 101%;
    border-bottom: 80px solid #c1eee4;
    -webkit-transform:
        translateY(-50px)
        translateX(0px)
        rotate(1.2deg);
    position: absolute;
    overflow-x: hidden;
    /* right: -1px; */
}


/* Back to top button */

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: black;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

.top {
  font-size: 30px;
}

.top:hover {
  color: grey;
}

/* Hero Section */
.top-logo-with-parallax {  
  background-image: url("https://i.imgur.com/6nV8I69.png");  
  background-color: #c1eee4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  -o-background-size: 400px;
  -moz-background-size: 400px;
  -webkit-background-size: 400px;
  max-width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position-y: 100px;
}

p.line-1.anim-typewriter {
  max-width: 100%;
}

.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}


/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 600ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}


/* AOS animation  */
.item {
}


.white-title {
  font-size: 88px;
  margin: 0;
  color:black;
}

.black-title {
  font-size: 88px;
  margin: 20px;
  color: black;
}

/* About Section */

.my-photo {
  margin-top: 30px;
  width: 320px; 
  height: 515px; 
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.box-two {
  height: 2050px;
  width: 101%;
  background-color: white;
  overflow: hidden;

}

h3.black-title {
  width: 455px;
  margin-top: 100px;
  font-size: 35px;
  text-align: center;
}

.cell {
  background-color: #c1eee4;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

/* Software icon animation */

#some-element {
  /* display: none; */
  opacity: 0%;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
    -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
       transition: all 0.3s ease-out; 
}

#some-div:hover #some-element {
opacity: 100%;
}

/* ends  */

.about-full-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 78%;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1200px;
}



.about-icon {
  width: 30px;
  height: 30px;
  margin-top: 24px;
}

/* .triangle-icon {
  width: 30px;
  height: 30px;
  margin-top: 40px;
  position: inherit;
} */

.left-about-wrapper a {
  text-decoration: none;
  color: black;
}

.left-about-wrapper a:hover {
  text-decoration: none;
  color: grey;
}

.skill-icon {
  width: 20px;
  height: 20px;
}

.left-about-wrapper {
  width: 450px;
  padding: 20px
}
.right-about-wrapper{
  width: 455px;
  padding: 20px
}

/* About Skill section */


.skill-outline-box {
  margin-top: 180px;
  background-color: #c1eee4;
  min-width: 350px;
  max-width: 100%;
  height: 450px;
  /* border: 1px solid; */
}

.skills-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 370px;
}



.skill-title {
  color: black;
  font-size: 15px;
}

.skill-box-right {
  width: 310px;
  padding: 30px
}

.skill-box-left {
  width: 260px;
  padding: 30px
}

.skill-box-left p {
  color: white;
  color: #686868;
  margin: 0;
  padding-top: 3px;
}



.skill-box-right-top p {
    color: white;
    color: #686868;
    margin: 0;
    padding-top: 3px;
}
.skill-box-right-bottom p {
    color: white;
    color: #686868;
    margin: 0;
    padding-top: 3px;
}

/* timeline */

img.rhul-logo {
  width: 100px;
}
img.ga-logo {
  width: 150px;
  }

img.capita-logo {
    width: 90px;
    /* margin-right: 10px; */
    width: 100px; 
    margin-bottom: 20px; 
    margin-left: 10px;
  }

img.amazon-logo {
    width: 120px; 
    margin-top: 5px;
  }
img.dg-logo {
  width: 100px; 
  margin-right: 10px;
}
img.dh-logo {
    width: 100px;
  }
img.udemy-logo {
    width: 100px;
  }

img.fcc-logo {
    width: 100px;
  }


.timeline {
width: 78%;
position: relative;
max-width: 1200px;
margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timelineContainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


.timelineContainer::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -21px;
  background-color: black;
  border: 6px solid black;
  border-radius: 30px;
  top: 15px;
  transform: rotate(45deg);
  z-index: 1;
}

.left {
  left: 0;
  text-align: right;
}

.right {
  left: 50%;
  text-align: left;
}

.left p {
  text-align: right;
}

.right::after {
  left: -21px;
}

/* intro  */


.parralax-intro {
  background-image: url("https://i.imgur.com/6nV8I69.png");
  width: 101%;
  padding: 20px;
  background-position: center;
  /* background-repeat: repeat; */
  background-size: 390px;
  min-height: 400px;
  background-attachment: fixed;
  Background-color: white;
}


.parallax-speech-bubble {
  background-image: url("https://i.imgur.com/wGDFvNT.png");
  background-position: cover;
  Background-color: white;
  background-repeat: repeat;
  background-size: 260px;
  min-height: 450px;
  width: 101%;
  /* margin: 0; */
  background-attachment: fixed;
  /* background-color: white; */
}


/* urban  */

.parallax-urban {
    background-image: url("https://i.imgur.com/y9poODk.png");
    background-position: center;
    /* background-repeat: repeat; */
    background-size: 330px;
    min-height: 450px;
    width: 101%;
    /* margin: 0; */
    background-attachment: fixed;
    Background-color: white;
}

/* london */

.parralax-london {
    background-image: url("https://i.imgur.com/29c8blI.png");
    width: 101%;
    padding: 20px;
    background-position: center;
    /* background-repeat: repeat; */
    background-size: 450px;
    min-height: 450px;
    background-attachment: fixed;
    Background-color: white;
}



/* BOX THREE - experience */

h2.white-title {
  margin-top: 20px;
}
.box-three {
  height: 3100px;
  background-color: #c1eee4;
  overflow: hidden;
}


.experience-work-wrapper {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}
.company-work-experience-block {
  width: 300px;
}
.company-work-experience-block h4 {
  min-height: 30px;
}
.company-work-experience-block h5 {
  min-height: 20px;
}

/* affects the ga logo on the timeline so commented it out */
.experience-work-wrapper div img {
  /* width: 200px; */
}

.experience-full-wrapper {
  width: 80%;
  margin: 0 auto;
}

.experience-work-wrapper p {
  color: black;
  padding-right: 10px;
}

.experience-work-wrapper h4 {
  color: black
}
.experience-work-wrapper h5 {
  color: black;
}

/* BOX Four - Projects----- */

.box-four {
  height: 3100px;
  width: 101%;
  background-color: white;
  overflow: hidden;

}

.projects-full-wrapper {
  width: 80%;
  margin: 0 auto;

}


.projects-work-wrapper {
  padding-top: 50px;
  height: 400px;
  position: relative;

}

div.links {
  display: block;
  text-align: center;
}


/* Macscreen */


.project-screen {
  background-image: url(images/mac-screen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  min-width: 300px;
  min-height: 530px;
  margin: 0 auto;
  position: relative;
}


.projects-info-wrapper {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}

.project-block {
  /* border-radius: 790px; */
  background-color: #c1eee4;
  max-width: 420px;
  min-width: 300px;
  padding: 20px;
  margin: 20px;
  /* text-align: center; */
  /* border: 1px solid black; */

}

.project-block i {
  color: black;
  font-size: 30px;
  margin-right: 10px;

}

.project-block p {
  min-height: 50px; 
  color: black;
}

.project-block h4 {
  color: black;
}

.project-block h5 {
  color: #686868;
}

.project-block i:hover {
  color: grey;
}

i.fas {
font-size: 17px;
}

/* hidden project slides insides boxes */

.mySlides {
  display: none;
}

button {
  width: 130px;
  font-family: 'Lacquer', sans-serif;
  font-size: 18px;
  color: #c1eee4;
  padding: 8px;
  background:black;

}

/* external css: flickity.css */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* .gallery {
  background: black;
} */


.flickity-container {
  width: 100%;
  max-width: 616px;
  margin: 0 auto;
  position: absolute;
  left:0;
  right:0;
  top:4%;
  margin-left:auto;
  margin-right:auto;

}


.gallery-cell {
  /* position: relative; */
  width: 110%;
  /* height: 70%; */
  background: black;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* project showcase animation  */

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.this-will-not-be-read {
  display: none !important;
}
/* body {
 padding: 50px;
} */



/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

/* iphone */

/* .project-screen2 {
  background-image: url(images/iphone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 500px;
  min-width: 300px;
  min-height: 530px;
  margin: 0 auto;
  position: relative;

} */


/* Box Five - Contacts */

.box-five {
  height: 400px;
  background-color: #c1eee4;;
  overflow: hidden;

}

.contacts-full-wrapper {
  width: 80%;
  margin: 0 auto;


}



.contact-p {
  color: black;

}

.contacts-container a {
  text-decoration: none;
  color: black;
}

.contacts-container i {
  padding-right: 15px;

}

.copyright-block {
  color: white;
  float: right;
  margin-bottom: 15px;
}

.contacts-and-copy-right-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-container a:hover {
  color: grey;
}




/* MOBILE RESPONSIVE */


/* moving window down on laptops */

@media screen and (max-width: 1280px) {
  /* Diagonal Line */

  .diagonal-white-right {
      width: 101%;
      border-bottom: 74px solid white;
      -webkit-transform:
          translateY(-50px)
          translateX(0px)
          rotate(2deg);
      position: absolute;
      overflow-x: hidden;
  }

  .diagonal-white-left {
      width: 101%;
      border-bottom: 74px solid white;
      -webkit-transform:
          translateY(-50px)
          translateX(0px)
          rotate(-2deg);
      position: absolute;
      overflow-x: hidden;
  }

  .diagonal-black-right {
      width: 100%;
      border-bottom: 74px solid #c1eee4;
      -webkit-transform:
          translateY(-50px)
          translateX(0px)
          rotate(-2deg);
      position: absolute;
      overflow-x: hidden;
      right: -1px;
  }

  .diagonal-black-left {
      width: 101%;
      border-bottom: 74px solid #c1eee4;
      -webkit-transform:
          translateY(-50px)
          translateX(0px)
          rotate(2deg);
      position: absolute;
      overflow-x: hidden;
      right: -1px;
  }
}

@media screen and (max-width: 1070px) {
  .box-three {
    height: 3650px;
  }
}




@media screen and (max-width: 1040px) {
  .box-four {
    height: 4500px;

  }

}

/* iphone  x */
@media screen and (max-width: 1000px) {

  .topnav-container {
    height: 40px;
    width: 392px;
    margin: 5px auto;
  }
  
  .topnav {
    background-color: #c1eee4;;
    text-align:center;
    position:fixed;
    z-index:9999;
    width: 75vw;
    margin: 0px auto;
    float:clear;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 13px;
  } 
  
  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 37%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
  }
  
  h3.black-title {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 20px;
  }
  
  /* Animation */
  .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
  }
  @keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
  }

div.left-about-wrapper {
  /* margin-left: 50px;
  margin-right: 50px; */
  padding: 0 50px;
}

  /* h3.black-title {
  margin-left: 150px;
  } */

  .box-three {
    /* height: 3650px; */
    /* height: 7900px; */
    height: 7700px; <------fine one iphone x --->
  }


  div.timeline {
    width: 700px;
  }
  .skill-outline-box {
    margin-top: 0;
    margin-right: 30px;
    margin-left: 30px;
  }

.box-five {
  height: 260px;
}

i.devicon {
width: 30px;
}

/* Software icon animation */

#some-element {
  /* display: none; */
  opacity: 0%;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
    -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
       transition: all 0.3s ease-out; 
}

#some-div:hover #some-element {
opacity: 100%;
}

/* ends  */

}

/* software container */

.container-software {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.software-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  list-style: none;
  
}

.software-icons li {
  justify-content: center;
  /* border: 1px solid rgba(0,0,0,.125); */
  /* border-radius: 50%; */
  margin: 20px 5px 5px 5px;
  width: 110px;
  height: 110px;
  align-items: center;
  font-size: 13px; 
}

.software-icons li i {
  font-size: 30px;
}

span {
  margin-top: 7px;
  /* margin-bottom: 20px; */
}






/* Smaller screens on laptop and some iphones X*/

@media screen and (max-width: 810px) {

  /* software icon animation  */
  #some-element {
    /* display: none; */
    opacity: 0%;
    -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
      -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
         transition: all 0.3s ease-out; 
  }
  
  #some-div:hover #some-element {
  opacity: 100%;
  }
  
  /* ends  */

  .software-icons li {
    width: 90px;
    height: 90px;
  }



  span {
    display: none;
  }
 
  img.my-photo {
    display: none;
    /* margin: 5px auto;
    width: 200px;
    height: 325px; */
  }

  img.ga-logo {
  width: 100px;
  }

  img.capita-logo {
    width: 90px;
    /* margin-right: 40px; */
    margin: 0 auto;
  }

  img.amazon-logo {
    width: 100px;
    margin: 0 auto;
  }

  img.dg-logo {
    width: 60px;
  }
  img.dh-logo {
    width: 60px;
  }

  img.udemy-logo {
    width: 70px;
  }
  img.fcc-logo {
    width: 70px;
  }

  /* skills box on iphone X */

  .skill-box-right {
    padding: 30px;
  }
  .skill-box-left {
    padding: 30px;
  }

  /* software icons on iphone X */
ul.software-icons {
  padding-inline-start: 0px;
}

/* Software icon animation */

#some-element {
  /* display: none; */
  opacity: 0%;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
    -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
       transition: all 0.3s ease-out; 
}

#some-div:hover #some-element {
opacity: 100%;
}

/* ends  */

.box-two {
height: 2800px;
}

.project-screen {
  /* background-image: url(images/mac-screen.png); */
  background-image: none;  
  margin: 0 auto;
}

.gallery-cell {
  width: 90%;
  margin: 0 auto;
}

.project-screen {
background-image: none;
margin: 0 auto;
width: 95vw;
height: 200px;
min-height: 50px;
  }

    .projects-info-wrapper {
      padding-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 auto;
      flex-wrap: wrap;
      /* margin-top: 150px; */
  }
    .projects-work-wrapper {
      padding-top: 50px;
      height: 400px;
      width: 100vw;
      margin: 0 auto;
      position: absolute;
      left: 0;
  }
    .flickity-container {
      width: 100%;
      max-width: 100%;
  }

  /* <---- normal setting which is fine on iphonex -----> */
  .box-four {
    height: 4700px;    

}

.box-five {
  height: 500px;
}

h2.white-title {
  font-size: 40px;
}

h2.black-title {
 font-size: 50px;
}

div.right-about-wrapper {
  display: none;
}

.parralax-intro {
  background-image: url("https://i.imgur.com/6nV8I69.png");
  width: 101%;
  padding: 20px;
  background-position: center;
  /* background-repeat: repeat; */
  background-size: 290px;
  min-height: 400px;
  background-attachment: fixed;
  Background-color: white;
}

.parallax-speech-bubble {
  background-image: url("https://i.imgur.com/wGDFvNT.png");
  background-position: cover;
  Background-color: white;
  background-repeat: repeat;
  background-size: 190px;
  min-height: 450px;
  width: 101%;
  /* margin: 0; */
  background-attachment: fixed;
  /* background-color: white; */
}


/* urban  */

.parallax-urban {
    background-image: url("https://i.imgur.com/y9poODk.png");
    background-position: center;
    /* background-repeat: repeat; */
    background-size: 250px;
    min-height: 450px;
    width: 101%;
    /* margin: 0; */
    background-attachment: fixed;
    Background-color: white;
}

/* london */

.parralax-london {
    background-image: url("https://i.imgur.com/29c8blI.png");
    width: 101%;
    padding: 20px;
    background-position: center;
    /* background-repeat: repeat; */
    background-size: 300px;
    min-height: 450px;
    background-attachment: fixed;
    Background-color: white;
}


}




/* ipad 4th gen Portait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  /* .topnav {
    background-color: #c1eee4;;
    text-align:center;
    position:fixed;
    z-index:9999;
    width: 55vw;
    margin: 0px auto;
    float:clear;
  } */

  .top-logo-with-parallax {
    /* background-image: url("images/soniachoudhurylogo.gif"); */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    background-attachment: inherit;
    Background-color: lightgrey;

  }

  .box-two {
    height: 1900px;
  }

  .box-three {
    height: 3850px;
    /* height: 7900px; */
    /* height: 7700px; <------fine one iphone x ---> */
  }

  .box-four {
    height: 4795px;
  }

  .experience-work-wrapper p {
    color: black;
    padding-right: 20px;
  }

  .project-block {
    /* border-radius: 790px; */
    background-color: #c1eee4;
    max-width: 370px;
    max-height: 550px;
    min-width: 300px;
    padding: 20px;
    margin: 20px;
    /* text-align: center; */
    /* border: 1px solid black; */
}

  .parallax-speech-bubble {
    min-height: 300px;
  }

  .line-1{
    position: relative;
    top: 50%;  
    width: 29em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 50%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
  }
  
  h3.black-title {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 55px;
    font-size: 20px;
  }
  
  /* Animation */
  .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
  }
  @keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
  }

  

  div.timeline {
    width: 700px;
  }
  .skill-outline-box {
    margin-top: 0;
    margin-right: 30px;
    margin-left: 30px;
  }

.projects-info-wrapper {
    margin-top: 200px;
  }


.box-five {
  height: 350px;
}

i.devicon {
width: 30px;
}

}


  /* samsung s5 portrait */
  /* @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .box-four {
      height: 5500px;
    }

  } */


@media screen and (max-width: 750px) {

  .white-title {
    font-size: 55px;
  }

  .black-title {
    font-size: 55px;
  }

  .box-three {
    height: 3150px;

  }

  .copyright-block {
    float: left;
  }


  .top-logo-with-parallax {
    background-image: url("images/soniachoudhurylogo.gif");
    Background-color: lightgrey;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    min-height: 700px;
    background-attachment: inherit;
    

  }

  .projects-info-wrapper {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 90px;
  }
}

/* iPhone 6+/6s+/7+/8+ share the same sizes */

/* @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

  .box-four{
    height: 5000px;
  }

} */

/* iphones */

@media screen and (max-width: 600px) {
  .topnav a { 
    display: none;
  }
  
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav-container {
    margin: 0;
  }

  .projects-info-wrapper {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

/* iphone x */
@media screen and (max-width: 600px) {
  /* .topnav.responsive {position: relative;} */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: #c1eee4;
    /* max-width: 300px; */
    width: 150px;
  }

  div.software-icons {
    max-width: 400px;
    margin: 0 auto;
  }

  .box-two {
    height: 2370px;
  }


}


/* timeline */
@media screen and (max-width: 600px) {



  .box-three {
    height: 3650px;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 20px;
  }

  /* Full-width timelineContainers */
  .timelineContainer {
    width: 100%;
    padding-left: 60px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timelineContainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 5px 50px 0;
    border-color: transparent white transparent transparent;
  }
/* Make sure all circles are at the same spot */
.left::after, .right::after {
  left: 0px;
}

/* Make all right containers behave like the left ones */
.right {
  left: 0%;
  text-align: left;
}

.content {
  text-align: left;
}
}

/* iphone 5 landscape - this affects my iphone x box four*/
@media screen and (max-width : 568px) {

  .box-four {
    height: 4850px;
  }

  .projects-info-wrapper {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 0;
  }

}

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{ 
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

div img.projectlogo {
  display: block;
  width: 80px; 
  margin: 0 auto;
 }  
}


/* iphone 5 portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) { 
  
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}

}


/* ipad 4th generation portrait */
/* @media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {



 } */



/* ipad pro */

/* Portrait */
@media only screen and (min-width: 1024px) and (orientation: portrait) { 


  .my-photo {
    margin-top: 0px;
  }
  
  /* .right-about-wrapper {
    padding: 0px;
  } */
  
  img.dg-logo {
    width: 90px;
  }

.right-about-wrapper {
      width: 455px;
      padding: 20px;
  }

.skill-outline-box {
    margin-top: 20px;
    background-color: #c1eee4;
    min-width: 350px;
    max-width: 100%;
    height: 450px;
    /* border: 1px solid; */
}

.skill-box-left {
  width: 260px;
  padding: 30px;
}

.skill-box-right {
  width: 310px;
  padding: 30px;
}

.box-two {
  height: 2786px;
}

.box-three {
  height: 3680px;
}

}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) { 

      ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        /* padding-inline-start: 40px; */
    }
   }

   /* iphone x  */

   @media only screen 
   and (width : 375px) 
   and (height : 812px)
   and (orientation : portrait)  
   and (-webkit-device-pixel-ratio : 3) { 

    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      /* padding-inline-start: 40px; */
  }
  

  .box-three {
      height: 4150px;
      }

      .box-four {
        height: 4950px;
      }

      html {
        overflow-x: hidden;
      }
    }

    /* software icon individual animation  */

    @keyframes bounce {
      0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform:     translateY(0);
        transform:         translateY(0)
      }
      40% {
        -webkit-transform: translateY(-30px);
        -ms-transform:     translateY(-30px);
        transform:         translateY(-30px)
      }
      60% {
        -webkit-transform: translateY(-15px);
        -ms-transform:     translateY(-15px);
        transform:         translateY(-15px)
      }
    }
    div.bounce_button {  
      /* position: absolute; */
      /* top: 50%;
      left: 50%; */
      /* height: 180px;
      width: 180px; */
      /* background-color: red;   */
      /* border-radius: 50%; */
      /* line-height: 180px; */
      /* text-align: center;
      text-transform: uppercase; */
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      /* color: white; */
    }
    div.bounce_button:hover {
      cursor: pointer;
      animation-name: bounce;
      -moz-animation-name: bounce;
    }