@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 300px;
  background-color: black;  
}

.typing {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 40px;
  color: rgba(255,255,255,.70);
  position: absolute;
  right: 10px;
}

/* Animation */
.typing {
  animation: animated-text 4s steps(17,end) 1s 1 normal both,
             animated-cursor 600ms steps(17,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 1099px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

/* responsive */

@media(max-width: 1200px) {
.typing {
font-size: 33px;
  }
   @keyframes animated-text{
    from{width: 0;}
    to{width: 700px;}
 }
}

 @media(max-width: 800px) {
  .typing {
   padding: 0 1rem;
     }
     p {
       font-size: 1rem;
     }
     @keyframes animated-text{
      from{width: 0;}
      to{width: 412px;}
    }
   }